@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Public Sans', sans-serif;
}

/* TEXT */
h1 {
  font-size: 2.3rem;
  margin: 10px 0px;
}

h2 {
  font-size: 2rem;
  margin: 10px 0px;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0px;
}

h4 {
  margin: 10px 0px;
  font-size: 12px;
  color: var(--grayish-blue);
}

p {
  font-size: 15px;
  margin: 10px 0px;
  color: var(--grayish-blue);
}

a {
  color: white;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(to right, hsl(136, 60%, 70%), hsl(192, 70%, 70%));
}

/* ELEMENTS */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: white;
}
  
header img {
  align-self: center;
}

.intro-container {
  background-image: linear-gradient(var(--light-grayish-blue), var(--white));
}

.intro-container button {
  margin-bottom: 20px;
}

.why-container {
  background-color: var(--light-grayish-blue);
  padding: 70px 60px 60px 60px;
}

.reason {
  padding: 30px;
}
  
.reason h3 {
  padding: 10px 0;
}

.latest-articles-container {
  padding: 50px;
  background-image: linear-gradient(var(--white), var(--light-grayish-blue));
}

.article-container {
  padding-top: 30px;
  gap: 10px;
  display: flex;
}

.article {
  background-color: var(--white);
}

.article h3 {
  cursor: pointer;
}

.article h3:hover {
  color: var(--lime-green);
}

.article-text {
  padding: 15px;
}

footer {
  background-color: var(--dark-blue);
  color: white;
}

footer a:hover {
  color: var(--lime-green);
}

@media (max-width: 649px) {
  header {
    padding: 16px 40px;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .mobile-nav {
    display: block;
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav img {
    position: absolute;
    display: none;
  }

  nav {
    position: fixed;
    display: flex;
    top: 70px;
    width: 85%;
    padding: 25px;
    margin: auto;
    border-radius: 5px;

    background-color: white;

    flex-direction: column;
    gap: 25px;
    text-align: center;

    margin-left: -15px;

    display: none;
  }

  nav a:hover {
    color: var(--lime-green);
  }

  .nav-shadow {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--dark-blue), rgba(255, 255, 255, 0));
    position: fixed;
    z-index: 2;

    display: none;
  }

  nav a {
    color: black;
    font-size: 23px;
  }

  header button {
    display: none;
  }

  .outer-container {
    padding-top: 40px;
  }

  .show {
    display: flex !important;
  }
}

@media (min-width: 650px) {
  header {
    padding: 10px 40px;
  }

  .mobile-nav {
    display: none;
  }

  nav {
    display: block;
  }

  nav a {
    color: var(--grayish-blue);
    position: relative;
  }

  header button {
    display: block;
  }

  nav a:hover {
    color: var(--dark-blue);
  }

  nav a::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--lime-green);
    position: absolute;

    left: 0;
    bottom: -20px;

    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  nav a:hover::after {
    transform: scaleX(1);
  }
}

@media (max-width: 839px) {
  .intro-container {
    display: grid;
  }

  .image-container {
    background-image: url("images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    grid-row: 1;

    position: relative;
    z-index: 1;
  }

  .image-container img {
    width: 100%;
    margin-top: -100px;
  }

  .intro-text-container {
    text-align: center;
    width: min(95%, 500px);
    margin: auto;
  }

  .why-container {
    text-align: center;
  }

  .article-container {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
  }

  .article-img img {
    width: 100%;
  }

  footer {
    text-align: center;
    padding: 20px 100px;
  }

  .social-links {
    padding: 20px 0 20px 0;
  }

  .bottom-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 840px) {
  .header-outer-container {
    width: 100%;
    background-color: white;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    background-color: white;
    max-width: 1400px;
    margin: auto;
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  .intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .image-container {
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position-y: -180px; 
    background-position-x: -30px; 
  
    width: 60%;
  
    max-width: 700px;
    position: relative;
    height: 500px;
    display: flex;
    justify-content: end;
  }
  
  .image-container img {
    position: absolute;
    height: 700px;
    top: -60px;
    z-index: 1;
  }
  
  .intro-text-container {
    width: 40%;
    padding: 50px;
  }
  
  .outer-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    justify-content: center;
    margin: auto;
  }
  
  .reasons-container {
    display: flex;
  }
  
  .article-container {
    justify-content: space-between;
  }
  
  .article {
    background-color: var(--white);
    width: 23%;
    max-width: 250px;
  }
  
  .article-img {
    height: 140px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .article-img img {
    width: 120%;
  }

  .footer-outer-container {
    width: 100%;
    background-color: var(--dark-blue);
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    max-width: 1400px;
    margin: auto;
  }
  
  .bottom-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .social-links {
    display: flex;
    gap: 15px;
  }
}