@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Public Sans', sans-serif;
}

/* TEXT */
h1 {
  font-size: 3rem;
  margin: 10px 0px;
}

h2 {
  font-size: 2rem;
  margin: 10px 0px;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0px;
}

h4 {
  margin: 10px 0px;
  font-size: 12px;
}

p {
  font-size: 18px;
  margin: 10px 0px;
}

a {
  color: white;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  margin: 10px 0px;
}

/* ELEMENTS */

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  position: relative;
  z-index: 2;
  background-color: white;
}

nav a {
  color: black;
}

.intro-container {
  background-image: linear-gradient(var(--light-grayish-blue), var(--white));
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.image-container {
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  position: relative;
  height: 500px;
}

.image-container img {
  position: absolute;
  height: 700px;
  top: -60px;
  z-index: 1;
}

.intro-text-container {
  width: 50%;
  padding: 50px;
}

.why-container {
  background-color: var(--light-grayish-blue);
  padding: 60px;
}

.reasons-container {
  display: flex;
}

.reason {
  padding: 30px;
}

.latest-articles-container {
  padding: 50px;
  background-image: linear-gradient(var(--white), var(--light-grayish-blue));
}

.article-container {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.article {
  width: 20%;
  background-color: var(--white);
}

.article img {
  width: 105%;
}

.article-img {
  height: 150px;
  overflow: hidden;
}

.article-text {
  padding: 20px;
  height: 150px;
}

footer {
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.bottom-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
